.empty-line {
margin: 100px 0px 0px 100px;
}

body {
    background-image: linear-gradient(90deg, #33b7e2, #5e62b0, #dc307c);
}

.setsumei {
margin: 0px 0px 0px 200px;
}



.kei1 {
margin: 100px;
}

.kei2 {
margin: 100px;
}

.kei3 {
margin: 100px;
}

.kei4 {
margin: 100px;
}
