{% extends "head.html" %}

{% block content %}
<div class="empty-line">

<title> TMCIT CHINEN LAB </title>    
<h1> TMCIT CHINEN.LAB <h1>


<br>

<h3>知念研究室って何してるの</h3>
<p> インフラを取り扱う研究室、研究室に在籍している学生の研究テーマもインフラに関連しています。</p>
<p> 研究室は7F東棟にあります</p>

<br><br>

<div class="alert alert-dismissible alert-warning">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <h4 class="alert-heading">イベント開催します</h4>
  <p class="mb-0"><a href="/event" class="alert-link">インフラに興味がある方は参加してみてください</a></p>
</div>


<h2> 新着情報 </h2>
<div class="eventcard_group">

<div class="eventcard1">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">2023/5/26</div>
  <div class="card-body">
    <h4 class="card-title">知念研ホームページ解説</h4>
    <p class="card-text">研究室のホームページを開設しました！イベント情報等をチェックしてください
  </div>
</div>
</div>


<div class="eventcard2">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">2023/5/27</div>
  <div class="card-body">
    <h4 class="card-title">イベント開催企画</h4>
    <p class="card-text">インフラの勉強会、OpenLabを企画中です！詳しくはeventタブから！
  </div>
</div>
</div>


  
</div>
{% endblock %}
